@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.font{
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        text-align: center;
}




/*  fonts */
.banner-title{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.regular-font{
    color: #0D1321;
    font-size: 16px;
    line-height: 26px;
}


/* header */

header{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: 1440px 652px;
}

.banner-image{
    margin-top: 20px;
}



.btn-primary{
padding: 25px 35px 25px 35px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight:500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: #0D1321;
border: none;
cursor: pointer;
margin: 32px;

}
